body{background-color: orange;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
     "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height:100%;
    }
.wrapper{
    width:800px;
    
    text-align: center;
    margin:auto;
    margin-top:80px;
    border: 1px solid red;}
h1,h2,h3{
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    font-size:2.6em;
    text-transform: uppercase;
    color: white;
}
#seconds,#tens{
    font-size: 2em;
    color:white;
}
p{color:white}
button{
        color:white;
        border:solid 1px white;
        text-decoration: none;
        cursor:pointer;
        font-size:1.2em;
        padding:18px 10x;
        background-color: orange;
        border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        -ms-border-radius:3px;
        -o-border-radius:3px;
        width: 180px;
        height:60px;
        margin:10px;
        
        
}
button:hover{
    background-color:white;
    border: solid 1px white;
    color:orange;
    transition:0.4s;
}
.name{color:white;
    position: fixed;
    bottom: 0;
    right: 0;}
   
@media screen and (max-width: 750px){
    .wrapper{display: flexbox;
            flex-direction: column;
            margin:auto;
            width:80%;
            padding:0.7em;
            }
   


}